doctype html
html
  head
    title sample haml
    link(rel="stylesheet", href="css/main.css")
  body
    h1 CoffeeScript is Awesome.
    #main
      .container
        I drink coffee everyday. How about you?

    script(src="js/main.js", type="text/javascript")
