doctype html
html
  head
    title sample haml
    link(rel="stylesheet", href="css/main.css")
  body
    h1 CoffeeScript is Awesome.
    #main
      .container This Sample is build on
      ul
        li Coffee Script
        li jade
        li stylus
        li grunt
        li mocha

    script(src="js/main.js", type="text/javascript")
